<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
    <style>
        .archive-year {color:#999; font-size: 16px}
        .archive-date {color:#777; font-size: 16px}
        td {padding: 0px 35px 0px 0px}
    </style>
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div class="container" id="page-container">

        <br>

		<!--Blog post listing-->
        <div class="col-sm-8 col-centered">

            {{ range (where .Site.Pages "Type" "blog") }}
            <div class="row">
                <!-- Post publish date -->
                <div class="col-sm-3 text-center">
                    <!-- use table for better formatting on mobile-->
                    <table class="h2">
                        <tr>
                            <td class="archive-year">{{ .Date | dateFormat "2006"}} </td>
                            <td class="archive-date">{{ .Date | dateFormat "Jan 2"}}</td>
                        </tr>
                    </table>
                </div>

                <!-- Post title and tagline-->
                <div class="col-sm-9">
                    <h2>
                        <a class="h2" style="font-size:18px; vertical-align:text-top" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h2>

                    <h4 style="font-size:16px; ; line-height:1">{{ .Params.tagline }}</h4>
                    <!--Read more buttn-->
                    <!--<div class="text-right">
                        <a href="{{ .Permalink }}">Read More<span style="font-size:0.83em" class="glyphicon glyphicon-menu-right"></span></a>
                    </div>-->
                </div>
            </div>

            <hr>

            {{ end }}

            <!--Return to recent posts button-->
            <div class="text-right">
                <a style="color:#555" href="/blog">
                    Recent posts<span style="font-size:0.83em" class="glyphicon glyphicon-menu-right"></span>
                </a>
            </div>

        </div>
        <!-- /.blog posts -->

    </div>
    <!-- /.page container -->

	{{ partial "footer-js.html" . }}

</body>
    
{{ partial "footer.html" . }}

</html>