<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Container -->
    <div class="container" id="page-container">
        <!--Page content-->
        <div class="col-sm-8 col-centered">
            <br>
            <h2>{{ .Title }}</h2>
            <!--Timestamp-->
            <p class="datestamp-index">
                <span class="fa fa-calendar-o"></span>&nbsp Posted on {{ .Date.Format "January 2, 2006" }}
                <em>&nbsp &middot &nbsp&nbsp{{.ReadingTime}} min read </em>
            </p>
            <img class="img-responsive" style="display:block; margin:auto; margin-bottom:16px" src="{{ .Params.image }}">

            {{ .Content }}
			<!--<hr>-->
            <br>
            <div class="text-left">
                <a href="/blog-index">
                    <span style="font-size:0.83em" class="glyphicon glyphicon-menu-left"></span>Recent posts
                </a>
            </div>
            <!--<br>-->

        </div>
        <!--/.content-->

    </div>	
    <!-- /.container -->

	{{ partial "footer-js.html" . }}

</body>
    
{{ partial "footer.html" . }}

</html>