<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Container -->
    <div class="container" id="page-container">
        <!--Page content-->
        <div class="col-sm-8 col-centered">
            <br>
            <h2>{{ .Title }}</h2>
            <!--Timestamp-->
            <p class="datestamp-index">{{ partial "blog-metadata.html" . }}</p>

            <!--Image if available-->
            <a href={{.Params.image}}>
                <img class="img-responsive" style="display:block; margin:auto; margin-bottom:16px" src="{{ .Params.image }}">
            </a>
            {{ .Content }}

			<!--<hr>-->
            <br>
            <div class="text-left">
                <a href="/blog">
                    <span style="font-size:0.83em" class="glyphicon glyphicon-menu-left"></span>Recent Posts
                </a>
            </div>
            <hr>
            {{ partial "disqus.html" . }}


        </div>
        <!--/.content-->

    </div>	
    <!-- /.container -->

	{{ partial "footer-js.html" . }}

</body>
    
{{ partial "footer.html" . }}

</html>