<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
	<script src="https://use.fontawesome.com/ccb78cc113.js"></script>
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div class="container">
        
        <div class="col-sm-8 col-centered">
            <h1 class="page-header">{{ .Title }}</h1>		            
            {{ .Content }}
			
			<br><br>
			<div class="row text-nowrap">
				<div class="col-xs-1 col-xs-offset-3 text-center">
					<i class="fa fa-envelope"></i> <br><br>
					<i class="fa fa-phone"></i> <br>
				</div>
				<div class="col-xs-3">
					<a style="color:inherit;" href=mailto:{{ .Site.Params.email }} >{{ .Site.Params.email }}</a> <br><br>
					<a class="link-disabled" style="color:inherit;">{{ .Site.Params.phone }}</a> <br>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-3"><hr width="100%"></div>
			</div>
			
			<div class="row text-nowrap">
				<div class="col-xs-1 col-xs-offset-3 text-center">
					<i class="fa fa-facebook"></i> <br><br>
					<i class="fa fa-linkedin"></i> <br><br>
					<i class="fa fa-github"></i> <br><br>
					<i class="fa fa-instagram"></i> <br><br>
				</div>
				<div class="col-xs-3">
					<a style="color:inherit;" href="http://{{ .Site.Params.facebook }}" >{{ .Site.Params.facebook }}</a> <br><br>
					<a style="color:inherit;" href="http://{{ .Site.Params.linkedin }}" >{{ .Site.Params.linkedin }}</a> <br><br>
					<a style="color:inherit;" href="http://{{ .Site.Params.github }}" >{{ .Site.Params.github }}</a> <br><br>
					<a style="color:inherit;" href="http://{{ .Site.Params.instagram }}" >{{ .Site.Params.instagram }}</a> <br><br>
				</div>
			</div>
			
        </div>

		
		
    </div>	
    <!-- /.container -->

	{{ partial "footer-js.html" . }}

</body>
    
{{ partial "footer.html" . }}

</html>