<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div class="container" id="page-container"> 
		<div class="col-lg-12">
		
		<!-- Loop through each project category -->
		{{ range where .Site.Pages "Type" "=" "node"}}
			<!-- Project category header (mech, elec, etc.) -->
			{{ partial "projects-category.html" . }}
		
			<!-- loop through all projects -->
			{{ range $index, $element := (where .Site.Pages "Type" .Params.section) }}
				<!-- only show non-hidden projects -->
				{{ if not .Params.hidden }}
					<!-- don't show divider before the first item -->
					{{ if not (eq $index 0) }}
					<hr width="80%">
					{{ end }}
					
					<!-- Bucket for each project -->
					{{partial "projects-description.html" . }}
				{{ end }}
			{{ end }}
		{{ end }}
		</div>
            

    </div>
    <!-- /.container -->

	{{ partial "footer-js.html" . }}

</body>
    
{{ partial "footer.html" . }}

</html>