<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-85178257-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-85178257-1');
</script>

<!-- Fix in page anchors to avoid being hidden behind navbar. 70px is based on css padding. -->
<script>
    var shiftWindow = function() { scrollBy(0, -70) };
    window.addEventListener("hashchange", shiftWindow);
    function load() { if (window.location.hash) shiftWindow(); }
</script>

<!-- Header snippet -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content=
{{ if (isset .Params "tagline")}}
    "{{.Params.tagline}}"
{{ else }}
    "{{ .Title }}"
{{ end }}
>
<meta name="author" content="Justin Lam">

<link href="/css/jmklam-portfolio-bootstrap.min.css" rel="stylesheet">
<link href="/css/jmklam-portfolio.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400i,400|Roboto+Slab" rel="stylesheet">
<link href="/css/highlight-js.css" rel="stylesheet">