<!-- Bucket for each project -->
<div class="row">
    <!-- project image -->
    <div class="col-sm-2 col-sm-offset-1">
        <a {{ if .Params.clickable }}href="{{ .Permalink }}"{{end}}>
            <img class="img-responsive img-rounded" src="{{ .Params.image }}" alt="">
        </a>
    </div>
    <!-- description -->
    <div class="col-sm-9">
        {{ if .Params.clickable }}
        <a class="h3" role="button" href="{{ .Permalink}} ">
        {{ else }}
        <a class="h3 link-disabled">
        {{end}}
        {{ .Title }}</a>
        <h4>{{ .Params.tagline }}</h4>
        <p>{{ .Params.summary }}</p>
    </div>
</div>			