<!DOCTYPE html>
<html lang="en">

<head>
    <title>Justin MK Lam - 404</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div class="container">
        
        <div class="col-sm-8 col-centered">
            <h1 class="page-header">Oops, page not found!
            </h1>
            
            <a><img class="img-responsive" src="/imgs/404/404-hoppermagic.PNG" /></a>
            <p class="caption"></p>
            
            <p>The rabbits have been nibbling the cables again... Might as well go back <a href="{{ .Site.BaseURL}}">home</a>.</p>
            
        </div>

    </div>
    <!-- /.container -->

	{{ partial "footer-js.html" . }}

</body>
    
{{ partial "footer.html" . }}

</html>