<!DOCTYPE html>
<html lang="en">

<head>
    <title>Justin MK Lam - Welcome</title>
    {{ partial "header.html" . }}
	<link href="{{ .Site.BaseURL }}/css/homepage.css" rel="stylesheet">
</head>
    
{{ partial "navbar-index.html" . }}

<style>

</style>

<body class="home-header">
    <div class="home-body">
        <h1>JUSTIN LAM</h1>
        <h2><small><em>A showcase of design, development, experiments, and more.</em></small></h2>
        <br>
        <br>
        <br>
        <div class="home-list">
            <a href="/sections/mechanical" class="home-item">Mechanical <span class="glyphicon glyphicon-menu-right"></span></a>
			<br>
            <a href="/sections/electrical/" class="home-item">Electrical <span class="glyphicon glyphicon-menu-right"></span></a>
			<br>
            <a href="/sections/mechatronics" class="home-item">Mechatronics <span class="glyphicon glyphicon-menu-right"></span></a>
			<br>
            <a href="/sections/software" class="home-item">Software <span class="glyphicon glyphicon-menu-right"></span></a>
            <hr>
            <a href="/view-all" class="home-item">View All <span class="glyphicon glyphicon-menu-right"></span></a>
			
        </div>
		  
    </div>
</body>
    
{{ partial "footer-js.html" . }}