<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    {{ partial "header.html" . }}
</head>

<body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div class="container" id="page-container">

        <br>

		<!--Blog post summaries-->
        <div class="col-sm-8 col-centered">

            {{ range first 5 (where .Site.Pages "Type" "blog") }}

            {{ partial "blog-snippets.html" . }}

            {{ end }}

            <!--Archives button-->
            <div class="text-left">
                <a class="blog-nav-btn" href="/archives">
                    <span style="font-size:0.83em" class="glyphicon glyphicon-menu-left"></span>All Posts
                </a>
            </div>

        </div>
        <!-- /.blog posts -->

    </div>
    <!-- /.page container -->

	{{ partial "footer-js.html" . }}

</body>

{{ partial "footer.html" . }}

</html>
